body{
  background-size: auto;
}

.lobster{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

header h1{
  font-size: 40px;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-weight: bold;
  

}

div button{
  font-size: 20px;
  color: #000;
}

.settings{
  display: inline-block;

}

a:hover{
  color: #FFF;
}
a:visited{
  text-decoration: none;
  color: rgb(255,255,255);
}

settings-head{
font-size: 30px;
font-family: Roboto, "Helvetica Neue", sans-serif;  
font-weight: bold;
}

.durationvalue{
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.clock{
  margin-left: 0px auto;
  color: #FFF;!important
}
.flip-clock-wrapper{
  margin: 0 auto!important;
  display: block;
}
.flip-clock-label{
color: #0000 !important;
}
.clock-header {
    font-family: Lato, sans-serif;
     font-size: 30px;
     padding-bottom: 10px!important;
     text-align: center;
     display: inline-block;
}
button{
 font-family: Roboto, "Helvetica Neue", sans-serif !important; 
}

.controls{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-size{
	font-size: 50px;
}
.centered {
   text-align: center;
   font-size: 0;
}
.centered > div {
   float: none;
   display: inline-block;
   text-align: left;
   font-size: 13px;
}
.inner {
    width: 40%;
    margin: 0 auto; 
}
.clock-size {padding: 3%;}
.clock-size ul {width: 40px;height: 50px;margin: 0 2px;}
.clock-size ul li {line-height: 50px;}
.clock-size ul li a div div.inn {border-radius: 3px;font-size: 20px;}
.clock-size ul li a div.down {border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;}
.clock-size ul li a div.up:after {top: 38px;height: 2px;}
.clock-size .flip-clock-dot.top {top: 30px;}
.clock-size .flip-clock-dot.bottom {bottom: 80px;}

.input-form {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.clock-height{
	height: 30px;
}

.div-padding{
 padding-top:5%;
 padding-bottom:5%
}